#Zkernel_debug { font: 11px/1.4em Lucida Grande, Lucida Sans Unicode, sans-serif; position:fixed; bottom:5px; left:5px; color:#000; z-index: 9999;}
#Zkernel_debug ol {margin:10px 0px; padding:0 25px}
#Zkernel_debug li {margin:0 0 10px 0;}
#Zkernel_debug .clickable {cursor:pointer}
#Zkernel_toggler { font-weight:bold; background:#BFBFBF; }
.Zkernel_span { border: 1px solid #999; border-right:0px; background:#DFDFDF; padding: 5px 5px; }
.Zkernel_last { border: 1px solid #999; }
.Zkernel_panel { text-align:left; position:absolute;bottom:21px;width:600px; max-height:400px; overflow:auto; display:none; background:#E8E8E8; padding:5px; border: 1px solid #999; }
.Zkernel_panel .pre {font: 11px/1.4em Monaco, Lucida Console, monospace; margin:0 0 0 22px}
#Zkernel_exception { border:1px solid #CD0A0A;display: block; }