body.c_body{background:#ffffff;color:#000000;font:12px Arial;padding:0;margin:0;cursor:default;min-width:996px;}
.c_body form{padding:0;margin:0;}
.c_body p{padding:0;margin:0;}
.c_body a,a:link,a:visited{color:#000000;}
.c_body a:hover{text-decoration:none;}
.c_body img{border:0;}

.c_frame{max-width:1600px;margin:0 auto;position:relative!important;}

.c_tline{color:#ffffff;height:40px;margin:0 20px 0 20px;border-top:0;z-index:571;position:relative;}
.c_tline a{color:#ffffff;}

#c_lang{float:right;}

.c_site{float:right;padding:11px 10px 0 10px;}

.c_tline em{font-style:normal;display:block;float:left;margin:11px 10px 0 3px;font-weight:bold;font-size:20px;line-height:20px;}
.c_tline .h{display:none;}
.c_tline #c_tl{display:none;font-size:14px;line-height:16px;padding:3px 0 0 0;font-weight:bold;text-align:center;}
.c_tline .mf{display:none;}

a#c_mlink{width:110px;outline:none;color:#ffffff;font-size:30px;line-height:30px;font-weight:bold;text-decoration:none;text-transform:lowercase;padding:2px 10px 7px 20px;display:block;float:left;}
a#c_mlink .ui-icon{float:right;margin:11px 0 0 5px;}

#c_navpane{padding:11px 0 0 20px;height:17px;overflow:hidden;}
#c_navpane a{color:#ffffff;}

#c_login{padding:4px 20px 0 10px;float:right;white-space:nowrap;}
.c_l_button{}
#c_login .c_l_input{width:82px;padding:.4em 1em .4em 1.5em;background:#fff;font-weight:normal;color:#000;font-family:arial;}
#c_login .ui-icon{position:absolute;margin:7px 0 0 4px;}
#c_login .ui-icon-key{margin-left:123px;}

#c_nojs{color:#FF351E;font-size:16px;font-weight:bold;text-align:center;padding:200px;}

.c_overlay{height:100%;width:100%;position:fixed;left:0;top:0;z-index:4000;display:none;background:#cccccc;opacity:.7;filter:alpha(opacity=70);}

#c_menu_frame{display:none;position:absolute;z-index:570;background-image:none;border-top:0;top:38px;left:20px;width:200px;}

#c_menu{padding:20px 20px 10px 20px;color:#ffffff;font-weight:bold;font-size:16px;}
#c_menu a,#c_menu a:link,#c_menu a:visited{color:#ffffff;display:block;margin:0 0 10px 0;text-decoration:none;}
#c_menu div{padding:0 0 10px 10px;display:none;}

#c_info{z-index:5000;position:absolute;top:58px;right:20px;display:none;padding:10px;}
#c_info .ui-icon{float:right;margin:0 0 0 10px;}

#c_loader{overflow:hidden;z-index:5000;position:absolute;top:58px;right:20px;height:42px;display:none;padding:0 6px 0 6px;}
#c_loader .c_but{display:none;padding:6px 20px 0 0;float:left;}
#c_loader .c_ldr{background:url(loader.gif) no-repeat right center;height:32px;width:32px;float:right;margin:6px 0 0 0;}

.c_text,.c_table{padding:20px 20px 0 20px;}

div.c_button{padding:20px 20px 0 20px;}

#c_form label{font-weight:bold;font-size:14px;}
/*
.c_form_label em{font-weight:normal;font-style:normal;font-size:90%;padding:0 0 0 20px;}
.c_form_label strong{font-size:20px;color:#ff0000;}
*/
#c_form dd{padding:0 0 20px 0;margin:0;}

.c_input,.c_textarea,.c_gmap{font-size:14px;width:90%;padding:.4em 1em;background:0;font-weight:normal;color:#000;font-family:arial;}
/*
.c_input,.c_textarea,.c_gmap{width:90%;border:1px solid #FECE00;padding:2px;font:12px Arial;}
*/
.c_gmap{padding:0;height:400px;}
#c_form input[type="checkbox"]{width:auto;padding:0;border:0;}
#c_form select{font-family:arial;font-size:14px;}
#c_catalog{padding:0 20px 0 20px;-moz-user-select:none;-o-user-select:none;-khtml-user-select:none;user-select:none;}
#c_form .required:after{content:' *';color:red;vertical-align:text-top;font-weight:bold;line-height:8px;}

.c_current_cat{background-color:#9AB9EA;}
.c_inner{padding:0 0 0 22px;display:none;clear:both;}


.jfu_upload div span{padding:0 5px 0 0;display:none;font-weight:bold;}
.jfu_upload p{font-weight:bold;padding:3px 0 0 0;}
.jfu_upload p input{vertical-align:middle;width:auto;margin:0 3px 0 20px;border:0;}
.jfu_upload p label{font-weight:normal;}

.c_clear{font-size:0px;color:#ffffff;clear:both;}

.c_rubr{padding:5px 0 0 0;}
.c_rubr input{width:auto;}
.c_rubr label,.c_rubr a{display:block;height:20px;}
.c_rubr div{padding:0 0 0 20px;display:none;}
.c_rubr a{text-decoration:none;font-weight:bold;}
.c_rubr span{width:23px;float:left;display:block;margin:-2px 5px 0 0;text-align:center;line-height:19px;font-size:16px;font-weight:bold;}

.c_filter{padding:20px 0 20px 0;}
.c_filter input{border:1px solid #FECE00;padding:2px;font:12px Arial;}

.c_drag{background:#66C46C;}

.c_clear{clear:both;padding:0;margin:0;font-size:0;}

#c_form .c_error{border:1px solid red;background:pink;}
#c_form fieldset{border:0;padding:0;margin:0;}
#c_form fieldset dt{display:none;}
#c_form fieldset dd{display:inline;}
#c_form .description{font-size:11px;line-height:13px;}
#c_form label input{width:auto;}
#c_form #oac-element dd{margin:0 10px 0 0;}

#c_form .c_uploadify input{width:auto;border:0;}
.c_uploadify_em{font-style:normal;}
.c_uploadify_em span{display:block;float:left;margin:2px 20px 0 0;font-size:20px;line-height:20px;}
.c_uploadify_em img{display:block;float:left;margin:7px 20px 0 0;}
.uploadifyQueue div{overflow:hidden;}
.uploadifyQueue div span{display:block;overflow:hidden;}

#c_lang{padding:11px 0 0 10px;}
#c_lang a{margin:0 10px 0 0;}
#c_lang .cur{color:green;}

#oac-label{display:none;}

.c_point{position:relative;overflow:hidden;}

.ui-jqgrid{font-size:14px!important;
.ui-jqgrid tr.jqgrow td{padding:4px 0!important;}
.ui-jqgrid .ui-jqgrid-htable th {padding:3px 0!important;}

#rubr-element hr{width:10%;text-align:left;margin:0.5em 0;}
