html { /*------------ 100% высота контейнера div.page  */
height: 100%;
min-width:1000px;
}

body {
/*--------------- 100% высота контейнера div.page  */
height: 100%;
min-height:100%;
min-width:1000px;
background: #ffffff;
}

/*  онтейнер всего содержимого кроме подвала */
.page {
height: 100%;
height: auto !important;
min-height:100%;
/*----------------------- 100% высоты контейнера относительно клиентской области и контента дл€ IE, FF, Opera */
min-width:1000px;
}

/*  онтейнер шапки */
.header {
height:205px;
width:100%;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e9e9', endColorstr='#ffffff'); /* ??? IE6-9 */
background: -moz-linear-gradient(top, #e5e9e9, #ffffff); /* Firefox 3.6+ */
/* Chrome 1-9, Safari 4-5 */
background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#e5e9e9), color-stop(100%,#ffffff));
/* Chrome 10+, Safari 5.1+ */
background: -webkit-linear-gradient(top, #e5e9e9, #ffffff);
background: -o-linear-gradient(top, #e5e9e9, #ffffff); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e5e9e9, #ffffff); /* IE10 */
background: linear-gradient(top, #e5e9e9, #ffffff); /* CSS3 */ 
behavior: url(../css/PIE.htc);
}
.header0 {
margin:0 auto;
width:940px;
position:relative;
}

/* ѕатч дл€ установки минимальной высоты в IE */

.footer_guarantor {
height:130px;
clear: both;
}

.main {
margin: 0 auto;
width:940px;
position:relative;
}



/*  онтейнер подвала */
.footer {
margin-top:-108px;
clear:both;
float:left;
width:100%;
height:108px;
background:  #f2f5f5;
}
/* RESET */
body, div, dl, dt, dd, ol,li,ul, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img { 
	border:0;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

q:before,q:after {
	content:'';
}

abbr,acronym {
  border:0;
}
/* END OF RESET */